* {
    padding: 0;
    margin: 0;
    font-family: Microsoft Yahei, "微软雅黑", "Helvetica Neue", Helvetica, Hiragino Sans GB, WenQuanYi Micro Hei, sans-serif;
}

     /* 添加双伪元素 */
    .content:before,
    .clearfix:after {
        content: "";
        display: table;
  }
    .clearfix:after {
        clear: both;
  }
    .clearfix {
        *zoom: 1;
  }

/* 滚动条美化 */
::-webkit-scrollbar-track-piece {
    background-color: transparent;
  }
  ::-webkit-scrollbar {
    width: 9px;
    height: 8px;
  }
  ::-webkit-scrollbar-thumb {
    background-color: rgb(192, 199, 210);
    border-radius: 7px;
  }
  ::-webkit-scrollbar-thumb:hover {
    background-color:#9f9f9f;
  }
  ::-webkit-scrollbar-arrow {
    color: #F00;
    background: #0F0;
  }
  

 body {
     background-color: #453a94;
 }
 li {
     list-style: none;
     
 }
 .box {
     width: 100%;
     height: 300px;
     margin: 0 auto;
     
     transition: all .3s;
 }


 .box li {
    float: left;
    position: relative;
    /* width: 100%; */
    height: 340px;
    /* padding-bottom: 75%; */
 }

 .box li img{
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    
}


 .box li img:hover {
     width: 360px;
 }