* {
  box-sizing: border-box;
  font-family: Microsoft Yahei, "微软雅黑", "Helvetica Neue", Helvetica, Hiragino Sans GB, WenQuanYi Micro Hei, sans-serif;
}

html, body {
  padding: 0;
  margin: 0;
  
}

/* 滚动条美化 */
::-webkit-scrollbar-track-piece {
  background-color: transparent;
}
::-webkit-scrollbar {
  width: 9px;
  height: 8px;
}
::-webkit-scrollbar-thumb {
  background-color: rgb(192, 199, 210);
  border-radius: 7px;
}
::-webkit-scrollbar-thumb:hover {
  background-color:#9f9f9f;
}
::-webkit-scrollbar-arrow {
  color: #F00;
  background: #0F0;
}

html {
  /* 需要隐藏最外层不可见区域以使视差生效 */
  overflow: hidden;
}

body {
  width: 100vw;
  height: 100vh;
  perspective: 100px;
  transform-style: preserve-3d;
  /* 3D的容器要允许overflow才能生效 */
  overflow-y: auto;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.list-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  height: 75vh;
  overflow: hidden;
  transform: translateZ(-10px) scale(1.2);
  background-size: cover;
  z-index: -1;
}


.list-top {
  width: 100%;
  height: 50px;
 
  background-color: rgba(0,0,0,.1);
  line-height: 50px; 
 
}

.list-top:hover{
  background-color: rgba(0,0,0,.4);
}


.list-top a {
  float: right;
  font-size: 24px;
  color: rgba(0,0,0.4);
  font-family: "仿宋";
  font-weight: 700;
  margin-right: 20px;
  text-decoration: none;
}

.list-top a:hover {
  color: #eccc68;
  border-bottom: 3px solid palevioletred;

}

.item-image {
  z-index: -1;
  position: absolute;
  transform: translateY(-10vh) translateZ(1px);
  font-size: 20px;
  
}



.item-image img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.item-text {
  font-family: 'Courier New', Courier, monospace;
  text-align: center;
  color: #ffffff;
}


.item-title {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 20px;
}

.item-desc {
  font-size: 1.2rem;
  font-family: "仿宋";
  font-weight: 700;
}