*{
    user-select: none;
    /* 无法选中，整体感更强 */
}

body{
    background: url(./8.png) no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.login{
    position: absolute;
    top: 50%;
    margin-top: -200px;
    left: 50%;
    margin-left: -200px;
    /* absolute居中的一种方法 */
    background-color: rgba(255,255,255,.8);
    width: 400px;
    height: 400px;
    border-radius: 25px;
    text-align: center;
    padding: 5px 40px;
    box-sizing: border-box;
    /* 这样padding就不会影响大小 */
}

p{
    font-size: 42px;
    font-weight: 600;
    color: skyblue;
}

input{
    background-color: rgba(255,255,224,.8);
    width: 100%;
    height: 48px;
    margin-bottom: 15px;
    border: none;
    border-radius: 10px;
   
    /* 下面的会覆盖上面的步伐 */
    outline: none;
    font-size: 22px;
}

.btn{
    background-color: rgba(255,255,224,.9);
    width: 38%;
    height: 48px;
    border-radius: 8px;
    margin-top: 40px;
    font-size: 28px;
    font-weight: 600;
    color: skyblue;
}
.btn:hover{
    background-color: rgba(255,192,203,.5);
}